# Environments
.venv/
env/
venv/
ENV/

# Secrets
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# FAISS Index (Local cache)
faiss_index/
*.index

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
